{% extends "base.html" %}

{% block title %}Панель менеджера{% endblock %}

{% block content %}
<div class="container">
    <h1>Панель менеджера</h1>
    <p>Добро пожаловать, {{ user.name }}!</p>
    <div class="button-container">
        <a href="{{ url_for('main.manage_employees') }}" class="button">Управление сотрудниками</a>
        <a href="{{ url_for('main.manage_services') }}" class="button">Управление услугами</a>
        <a href="{{ url_for('main.manage_clients') }}" class="button">Управление клиентами</a>
        <a href="{{ url_for('main.manage_appointments') }}" class="button">Управление записями</a>
        <a href="{{ url_for('main.reports') }}" class="button">Отчеты</a>
    </div>
</div>
{% endblock %}