{% extends "base.html" %}

{% block title %}Задачи механика{% endblock %}

{% block content %}
<div class="tasks-container">
    <h1>Задачи механика</h1>
    <ul>
        {% for task in tasks %}
            <li>
                Задача №{{ task.id }} - {{ task.status }}
                <a href="{{ url_for('main.reports', task_id=task.id) }}">Создать отчет</a>
            </li>
        {% endfor %}
    </ul>
</div>
<a href="{{ url_for('main.mechanic_dashboard') }}" class="button">Вернуться на панель механика</a>
{% endblock %}