{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Детали заказа</h1>
    <p>Номер заказ-наряда: {{ order.id }}</p>
    <p>Имя заказчика: {{ order.client.name }}</p>
    <p>Телефон: {{ order.client.phone }}</p>
    <p>Марка и модель авто: {{ order.car_brand }} {{ order.car_model }}</p>
    <p>Год выпуска: {{ order.car.car_year }}</p>
    <p>Гос номер: {{ order.car.license_plate }}</p>
    <p>VIN код: {{ order.car.vin }}</p>
    <a href="{{ url_for('main.generate_order_pdf', order_id=order.id) }}" class="button">Скачать заказ-наряд</a>
</div>
{% endblock %}