{% extends "base.html" %}

{% block title %}Выбор услуг{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Выберите услуги</h1>
    <form method="POST" action="{{ url_for('main.select_services') }}">
        {{ form.csrf_token }}
        {% for service in services %}
            <input type="checkbox" name="services" value="{{ service.id }}"> {{ service.service_name }} - {{ service.price }} руб.<br>
        {% endfor %}
        <button type="submit">Далее</button>
    </form>
</div>
{% endblock %}