{% extends "base.html" %}

{% block title %}Выбор услуг{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Выбор услуг</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <table class="service-table">
            <thead>
                <tr>
                    <th>Услуга</th>
                    <th>Цена</th>
                    <th>Выбрать</th>
                </tr>
            </thead>
            <tbody>
                {% for service in form.services.choices %}
                    <tr>
                        <td>{{ service[1] }}</td>
                        <td>{{ service[2] }} руб.</td>
                        <td class="checkbox-cell"><input type="checkbox" name="services" value="{{ service[0] }}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input class="submit-button" id="submit" name="submit" type="submit" value="Далее">
    </form>
</div>
{% endblock %}