<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}Автосервис SkodaExpert{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='csrf.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='9945c9963e9ad146627fc6e389b34379.svg') }}" alt="Логотип" class="logo">
        </div>
        <nav>
            <a href="{{ url_for('main.index') }}">Главная</a>
            {% if 'user_id' in session %}
                <a href="{{ url_for('main.logout') }}">Выйти</a>
            {% else %}
                <a href="{{ url_for('main.login') }}">Войти</a>
                <a href="{{ url_for('main.register') }}">Регистрация</a>
            {% endif %}
        </nav>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>